<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>결제내역</title>
    <link rel="shortcut icon" th:href="@{'/assets/images/kurly.ico'}">
    <link type="text/css" rel="stylesheet" href="/assets/styles/pay-record.css">
</head>
<body>
<div id="pay-record">
    <div></div>
    <div class="pay-record-box">
        <div class="record-text-container">
            <div class="text-cover">
                <h2 class="_text">주문 내역</h2>
            </div>
        </div>
        <div class="load-container">
            <div class="item-record-container">
                <div class="box-bottom"></div>
                <div class="item-container">
                    <div class="item">
                        <div class="item-box">
                            <a href="#">
                                <img src="https://product-image.kurly.com/hdims/resize/%5E%3E120x%3E156/cropcenter/120x156/quality/85/src/product/image/fc3eb710-126d-4c18-b776-ac6809b07a73.jpeg?v=0531" alt="[델리치오] 호주산 목초육 안심 스테이크 250g (냉장)" class="img">
                            </a>
                            <div class="item-detail">
                                <div class="delivery">
                                    <p class="_text">샛별배송</p>
                                </div>
                                <a href="#">
                                    <p class="_text">[델리치오] 호주산 목초육 안심 스테이크 250g (냉장)</p>
                                </a>
                                <div class="item-price-container">
                                    <p class="item-price">"15,990원"</p>
                                    <div class="line"></div>
                                    <p class="item-quantity">"1개"</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-box">
                            <a href="#">
                                <img src="https://product-image.kurly.com/hdims/resize/%5E%3E120x%3E156/cropcenter/120x156/quality/85/src/product/image/fc3eb710-126d-4c18-b776-ac6809b07a73.jpeg?v=0531" alt="[델리치오] 호주산 목초육 안심 스테이크 250g (냉장)" class="img">
                            </a>
                            <div class="item-detail">
                                <div class="delivery">
                                    <p class="_text">샛별배송</p>
                                </div>
                                <a href="#">
                                    <p class="_text">[델리치오] 호주산 목초육 안심 스테이크 250g (냉장)</p>
                                </a>
                                <div class="item-price-container">
                                    <p class="item-price">"15,990원"</p>
                                    <div class="line"></div>
                                    <p class="item-quantity">"1개"</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                    <div class="item-box">
                        <a href="#">
                            <img src="https://product-image.kurly.com/hdims/resize/%5E%3E120x%3E156/cropcenter/120x156/quality/85/src/product/image/fc3eb710-126d-4c18-b776-ac6809b07a73.jpeg?v=0531" alt="[델리치오] 호주산 목초육 안심 스테이크 250g (냉장)" class="img">
                        </a>
                        <div class="item-detail">
                            <div class="delivery">
                                <p class="_text">샛별배송</p>
                            </div>
                            <a href="#">
                                <p class="_text">[델리치오] 호주산 목초육 안심 스테이크 250g (냉장)</p>
                            </a>
                            <div class="item-price-container">
                                <p class="item-price">"15,990원"</p>
                                <div class="line"></div>
                                <p class="item-quantity">"1개"</p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>