<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>결제내역</title>
    <link rel="shortcut icon" th:href="@{'/assets/images/kurly.ico'}">
    <link type="text/css" rel="stylesheet" href="/assets/styles/pay-record.css">
</head>
<body>
<div id="pay-record">
    <div></div>
    <div class="pay-record-box">
        <div class="record-text-container">
            <div class="text-cover">
                <h2 class="_text">주문 내역</h2>
            </div>
        </div>
        <div class="load-container">
            <div class="item-record-container">
                <div class="box-bottom"></div>
                <div class="item-container">
                    <div class="item" th:each="item : ${items}">
                        <div class="item-box">
                            <a href="#">
                                <img th:src="${item.getItemImage()}" th:alt="${item.getPayItemName()}" class="img">
                            </a>
                            <div class="item-detail">
                                <div class="delivery">
                                    <p class="_text">샛별배송</p>
                                </div>
                                <a href="#">
                                    <p class="_text" th:text="${item.getPayItemName()}"></p>
                                </a>
                                <div class="item-price-container">
                                    <p class="item-price" th:text="|${#numbers.formatInteger(item.getPayItemPrice(), 3, 'COMMA')} 원|"></p>
                                    <div class="line"></div>
                                    <p class="item-quantity" th:text="|${item.getPayQuantity()} 개|"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>