<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kms.teamproject.mappers.CartMapper">

    <insert id="insertCart"
    parameterType="com.kms.teamproject.entities.CartEntity">
        INSERT INTO `kurly`.`cart`(`item_name`, `item_price`, `quantity`, `item_image`)
        VALUES (#{itemName}, #{itemPrice}, #{quantity}, #{itemImage})
    </insert>

    <select id="selectCartById"
            resultType="com.kms.teamproject.entities.CartEntity">
        SELECT `item_id`    AS `itemId`,
               `item_name`  AS `itemName`,
               `item_price` AS `itemPrice`,
               `quantity`   AS `quantity`
        FROM `kurly`.`cart`
        WHERE `item_id` = #{itemId}
        LIMIT 1
    </select>

    <select id="selectCartByPrice"
            resultType="com.kms.teamproject.entities.CartEntity">
        SELECT `item_id`    AS `itemId`,
               `item_name`  AS `itemName`,
               `item_price` AS `itemPrice`,
               `quantity`   AS `quantity`
        FROM `kurly`.`cart`
        WHERE `item_id` = #{itemId}
        LIMIT 1
    </select>
    <select id="selectAllCarts"
            resultType="com.kms.teamproject.entities.CartEntity">
        SELECT `item_id`    AS `itemId`,
               `item_name`  AS `itemName`,
               `item_price` AS `itemPrice`,
               `quantity`   AS `quantity`,
               `is_checked` AS `isChecked`,
               `is_deleted` AS `isDeleted`,
               `status`     AS `status`,
               `item_image` AS `itemImage`
        FROM `kurly`.`cart`
        WHERE `is_deleted` IS FALSE

    </select>

    <update id="updateCart" parameterType="_int">
        UPDATE `kurly`.`cart`
        SET `quantity` = #{quantity}
        WHERE `item_id` = #{itemId}

        LIMIT 1
    </update>
    <update id="updateCheckStatus" parameterType="map">
        UPDATE `kurly`.`cart`
        SET is_checked = #{isChecked}
        WHERE item_id = #{itemId}
    </update>
    <update id="deleteCartItem" parameterType="int">
        UPDATE `kurly`.`cart`
        SET `is_deleted` = 1
        WHERE `item_id` = #{itemId}
        LIMIT 1
    </update>
    <update id="updateDeletedStatusForItems" parameterType="list">
        UPDATE `kurly`.`cart`
        SET `is_deleted` = 1
        WHERE `item_id` IN
        <foreach item="itemId" collection="itemIds" open="(" separator="," close=")">
            #{itemId}
        </foreach>
        AND `is_checked` = 1
    </update>

    <select id="countActiveItems" resultType="_int">
        SELECT COUNT(*)
        FROM `kurly`.`cart`
        WHERE `is_deleted` = 0
    </select>
    <select id="countCheckedItems" resultType="_int">
        SELECT COUNT(*)
        FROM `kurly`.`cart`
        WHERE `is_deleted` = 0 AND `is_checked` = 1
    </select>
</mapper>