<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kms.teamproject.mappers.PayMapper">
    <insert id="insertItemLoad" parameterType="com.kms.teamproject.entities.PayLoadEntity">
        INSERT INTO `kurly`.`pay_record`
        (`cart_index`, `member_id`, `pay_item_id`, `pay_item_name`, `pay_item_price`, `pay_quantity`, `item_image`, `total_price`, `purchase_day`)
        VALUES
            (#{cartIndex}, ${memberId}, #{payItemId}, #{payItemName}, #{payItemPrice}, #{payQuantity}, #{itemImage}, #{totalPrice}, #{purchaseDay});

    </insert>

    <select id="selectAllCarts" resultType="com.kms.teamproject.entities.CartEntity">
        SELECT `item_id`    AS `itemId`,
               `item_name`  AS `itemName`,
               `item_price` AS `itemPrice`,
               `quantity`   AS `quantity`,
               `is_checked` AS `isChecked`,
               `is_deleted` AS `isDeleted`,
               `item_image` AS `itemImage`
        FROM `kurly`.`cart`
        WHERE `is_deleted` IS FALSE
        AND `is_checked` = 1
    </select>

    <select id="selectAllPayLoads" resultType="com.kms.teamproject.entities.PayLoadEntity">
    SELECT `index` AS `index`,
           `cart_index` AS `cartIndex`,
           `pay_item_id` AS `payItemId`,
           `pay_item_name` AS `payItemName`,
           `pay_item_price` AS `payItemPrice`,
           `pay_quantity` AS `payQuantity`,
           `item_image` AS `itemImage`,
           `total_price` AS `totalPrice`,
           `purchase_day` AS `purchaseDay`
    FROM `kurly`.`pay_record`
    WHERE 1
    </select>


    <select id="selectCartById" resultType="com.kms.teamproject.entities.CartEntity">
        SELECT `index` AS `index`,
                `item_id` AS `itemId`,
               `item_name` AS `itemName`,
               `item_price` AS `itemPrice`,
               `quantity` AS `quantity`
        FROM kurly.cart
        WHERE item_id = #{itemId}
    </select>

    <select id="getPayIndexByCartIndex" resultType="java.lang.Integer">
        SELECT `index`
        FROM `kurly`.`cart`
        WHERE `item_id` = #{payItemId}
          AND `is_deleted` = false
          AND `is_checked` = 1
    </select>

</mapper>