@charset "UTF-8";

@import "./cart-global";

#main {
  padding-bottom: 80px;
  background-color: #F2F5F8;

  > .cart-main {
    width: 1050px;
    margin: 0 auto;


    > h2 {
      padding: 50px 0 48px;
      text-align: center;
      font-size: 1.5em;
      font-weight: bold;


      > .cart-font {
        color: #333333;
        line-height: 36px;
        font-weight: 600;
        font-size: 28px;
      }
    }

    > .cart-container {
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      letter-spacing: -0.5px;


      > .cart-list-container {
        position: relative;
        width: 565px;
        margin-right: 20px;


        > .cart-check-box {
          overflow: hidden;
          border-radius: 16px;
          margin-bottom: 16px;

          > .cart-check {
            position: relative;
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
            background-color: #fff;
            pointer-events: auto;
            padding: 16px;


            > .text-container {
              z-index: 1;
              word-break: break-all;
              display: flex;
              align-items: center;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              cursor: pointer;


              > input[type=checkbox], input[type=radio] {
                box-sizing: border-box;
                padding: 0;
                background-color: initial;
                border-color: rgba(116, 116, 116, 0.3);
                appearance: auto;
                cursor: default;
                margin: 3px 3px 3px 4px;


              }

              > input[disabled], button[disabled] {
                cursor: default;
              }

              > .checkbox {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                position: absolute;
                width: 1px;
                height: 1px;
                border: none;
                opacity: 0;
                overflow: hidden;

              }

              > .checkbox:checked + .input-all-cover {
                background-image: url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20width='20'%20height='20'%20viewBox='0%200%2020%2020'%20fill='none'%3e%3cpath%20d='M15.707%207.7071L8.68405%2014.7309L4.29272%2010.3389L5.70704%208.92483L8.68407%2011.9023L14.2927%206.29297L15.707%207.7071Z'%20fill='%23F2F5F8'/%3e%3c/svg%3e");
                border-width: 2px;
                border-style: solid;
                width: 20px;
                height: 20px;
                box-sizing: border-box;
                flex-shrink: 0;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                border-radius: 4px;

                background-color: #222;
                border-color: #222;
              }


              > .input-all-cover {
                background-image: url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20width='20'%20height='20'%20viewBox='0%200%2020%2020'%20fill='none'%3e%3cpath%20d='M15.707%207.7071L8.68405%2014.7309L4.29272%2010.3389L5.70704%208.92483L8.68407%2011.9023L14.2927%206.29297L15.707%207.7071Z'%20fill='%23F2F5F8'/%3e%3c/svg%3e");
                border-width: 2px;
                border-style: solid;
                width: 20px;
                height: 20px;
                box-sizing: border-box;
                flex-shrink: 0;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                border-radius: 4px;
                border-color: #dfe4eb;

              }

              > ._text {
                margin-left: 16px;
                line-height: 22px;
                font-weight: 400;
                font-size: 16px;


                //color: #a7b2bc;

              }
            }

            > .unCheckbox {
              border-width: 1px;
              border-style: solid;
              z-index: 1;
              overflow: hidden;
              transition: all .1s ease-out;
              display: flex;
              cursor: default;
              border-radius: 6px;
              padding-right: 12px;
              padding-left: 12px;
              height: 32px;
              $background_color: #fff;
              background-color: $background_color;
              border-color: #dfe4eb;
              font-weight: 600;
              font-size: 14px;
              align-items: center;
              box-sizing: border-box;

              color: #222;

              &:hover {
                background-color: darken($background_color, 5%);
              }

              &:active {
                background-color: darken($background_color, 10%);

              }

              > ._text {
                line-height: 20px;
                font-weight: 600;
                font-size: 14px;

              }
            }
          }
        }
      }
    }
  }
}

#list {
  > #no-list {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    pointer-events: none;
    margin-top: 16px;
  }


  // :: after

  overflow: hidden;
  position: relative;
  background-color: #fff;
  border-radius: 16px;
  padding: 20px 16px;


  > .kurlyDelivery {
    position: absolute;
    top: -71px;
  }

  > .list-delivery {
    position: relative;
    padding-bottom: 16px;

    > .Delivery {
      display: flex;

      & > label {
        height: 26px;
      }

      > .delivery-label {
        z-index: 1;
        word-break: break-all;
        display: flex;
        align-items: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;

        > .Delivery-checkbox {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          position: absolute;
          width: 1px;
          height: 1px;
          border: none;
          opacity: 0;
          overflow: hidden;
        }

        > .Delivery-checkbox:checked + .input-cover {
          background-image: url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20width='20'%20height='20'%20viewBox='0%200%2020%2020'%20fill='none'%3e%3cpath%20d='M15.707%207.7071L8.68405%2014.7309L4.29272%2010.3389L5.70704%208.92483L8.68407%2011.9023L14.2927%206.29297L15.707%207.7071Z'%20fill='%23F2F5F8'/%3e%3c/svg%3e");
          border-width: 2px;
          border-style: solid;
          width: 20px;
          height: 20px;
          box-sizing: border-box;
          flex-shrink: 0;
          background-repeat: no-repeat;
          background-position: 50% 50%;

          border-radius: 4px;
          border-color: #222;
          background-color: #222;
        }

        > .input-cover {
          background-image: url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20width='20'%20height='20'%20viewBox='0%200%2020%2020'%20fill='none'%3e%3cpath%20d='M15.707%207.7071L8.68405%2014.7309L4.29272%2010.3389L5.70704%208.92483L8.68407%2011.9023L14.2927%206.29297L15.707%207.7071Z'%20fill='%23F2F5F8'/%3e%3c/svg%3e");
          border-width: 2px;
          border-style: solid;
          width: 20px;
          height: 20px;
          box-sizing: border-box;
          flex-shrink: 0;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          border-radius: 4px;
          border-color: #dfe4eb;

        }

        > ._text {
          margin-left: 16px;
          line-height: 26px;
          font-weight: 600;
          font-size: 18px;
        }
      }
    }
  }

  > .item-container {
    > .item {
      border-top: 1px solid #eceff3;

      > .status-cover {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding: 16px 0 12px;

        > .status-icon {
          align-items: center;
          justify-content: center;
          display: inline-flex;
        }

        > ._text {
          margin-left: 4px;
          color: #222;
          line-height: 22px;
          font-weight: 600;
          font-size: 16px;
        }
      }

      > .--item {
        position: relative;

        > .item-check-box {
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          justify-content: space-between;
          position: absolute;
          top: -5px;
          left: 0;
          right: -6px;

          > .checkbox-cover {
            padding-top: 2px;

            > .checkbox-label {
              z-index: 1;
              word-break: break-all;
              display: flex;
              align-items: center;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              cursor: pointer;

              > .checkbox {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                position: absolute;
                width: 1px;
                height: 1px;
                border: none;
                opacity: 0;
                overflow: hidden;
              }

              > .checkbox:checked + .label-cover {
                background-image: url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20width='20'%20height='20'%20viewBox='0%200%2020%2020'%20fill='none'%3e%3cpath%20d='M15.707%207.7071L8.68405%2014.7309L4.29272%2010.3389L5.70704%208.92483L8.68407%2011.9023L14.2927%206.29297L15.707%207.7071Z'%20fill='%23F2F5F8'/%3e%3c/svg%3e");
                border-width: 2px;
                border-style: solid;
                width: 20px;
                height: 20px;
                box-sizing: border-box;
                flex-shrink: 0;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                border-radius: 4px;
                border-color: #222;
                background-color: #222;
              }

              > .label-cover {
                background-image: url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20width='20'%20height='20'%20viewBox='0%200%2020%2020'%20fill='none'%3e%3cpath%20d='M15.707%207.7071L8.68405%2014.7309L4.29272%2010.3389L5.70704%208.92483L8.68407%2011.9023L14.2927%206.29297L15.707%207.7071Z'%20fill='%23F2F5F8'/%3e%3c/svg%3e");
                border-width: 2px;
                border-style: solid;
                width: 20px;
                height: 20px;
                box-sizing: border-box;
                flex-shrink: 0;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                border-radius: 4px;
                border-color: #dfe4eb;

              }

              > .checkbox_text {
                line-height: 22px;
                font-weight: 400;
                font-size: 16px;
              }
            }
          }

          > .cancel-button {
            width: 40px;
            height: 40px;
            flex-shrink: 0;

            > .cancel-icon {
              align-items: center;
              justify-content: center;
              display: inline-flex;

            }
          }

        }

        > .item-detail {
          padding: 4px 0 16px 34px;

          > a {
            > .item-name {
              position: relative;
              z-index: 1;
              margin-right: 32px;

              > ._text {
                margin-block-start: 1px;
                margin-block-end: 1px;

                color: #222;
                display: -webkit-box;
                overflow: hidden;
                word-break: break-all;
                white-space: normal;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                line-height: 22px;
                font-weight: 400;
                font-size: 16px;

              }

              > .-detail {
                margin-top: 4px;
                color: #848f9a;
                display: -webkit-box;
                overflow: hidden;
                word-break: break-all;
                white-space: normal;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;

                line-height: 20px;
                font-size: 14px;
                font-weight: 400;
              }
            }
          }

          > .--status {
            display: flex;
            line-height: 16px;
            font-weight: 600;
            font-size: 12px;

            & > * {
              display: flex;
              -webkit-box-pack: justify;
              justify-content: space-between;
              -webkit-box-align: center;
              align-items: center;
              padding: 4px 8px;
              border-radius: 6px;
              font-size: 12px;
            }

            > .status-cover {
              display: flex;
              -webkit-box-align: center;
              align-items: center;
              margin-top: 8px;


              & {
                background-color: #def1eb;
                color: #67dfa4;
              }

              > .status-icon {
                width: 16px;
                height: 16px;
                align-items: center;
                justify-content: center;
                display: inline-flex;

              }

              > .status-details {
                margin-left: 2px;
              }
            }

            > .ice {
              display: flex;
              -webkit-box-align: center;
              align-items: center;
              margin-top: 8px;

              & {
                background-color: #dfebf9;
                color: #69a3e1;
              }

              > .status-icon {
                width: 16px;
                height: 16px;
                align-items: center;
                justify-content: center;

              }

              > .status-details {
                margin-left: 2px;
              }
            }
          }

          > .item-price-details {
            display: flex;
            -webkit-box-pack: start;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 12px;

            > a {
              > .item-image {
                height: 83px;
                overflow: hidden;
                border-radius: 8px;
                margin-right: 16px;
                flex-shrink: 0;
              }
            }

            > .item-price-cover {
              display: flex;
              flex-direction: column;
              -webkit-box-pack: justify;
              justify-content: space-between;
              min-height: 83px;

              > .item-price {
                display: -webkit-box;
                display: inline-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;

                > ._text {
                  color: #222;
                  word-break: keep-all;

                  line-height: 22px;
                  font-weight: 700;
                  font-size: 16px;
                }

                > ._text-unDiscount {
                  color: #bcc4cc;
                  text-decoration: line-through;
                  display: -webkit-box;
                  overflow: hidden;
                  word-break: break-all;
                  white-space: normal;
                  -webkit-line-clamp: 1;
                  -webkit-box-orient: vertical;

                  line-height: 18px;
                  font-weight: 400;
                  font-size: 13px;
                }
              }

              > .quantity {

                margin-right: -50px;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                width: 96px;
                height: 36px;
                padding: 10px 16px 10px 10px;
                border-radius: 20px;
                background-color: #eceff3;

                justify-content: center;
                min-height: 1px;

                > .minus {
                  width: 20px;
                  height: 20px;
                  background-color: transparent;
                  border: none;
                  cursor: pointer;

                  > .minus-icon {
                    align-items: center;
                    justify-content: center;
                    display: inline-flex;


                  }
                }

                > .num {
                  padding: 10px 16px 10px 13px;
                  text-align: center;
                  min-height: 36px;
                  margin: 0 2px;
                  font-size: 18px;
                  font-weight: 600;
                  line-height: 26px;


                }

                > .plus {
                  width: 20px;
                  height: 20px;
                  background-color: transparent;
                  border: none;
                  cursor: pointer;

                  > .plus-icon {
                    align-items: center;
                    justify-content: center;
                    display: inline-flex;

                  }
                }
              }
            }
          }
        }
      }
    }

    > .items-price {
      display: flex;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      margin-top: 8px;
      padding: 12px;
      border-radius: 10px;
      background-color: #f2f5f8;
      color: #222;

      > ._text {
        color: #848f9a;
        line-height: 1px;
        font-weight: 600;
        font-size: 14px;
      }

      > .total-price {
        line-height: 1px;
        font-weight: 700;
        font-size: 18px;
      }
    }
  }


}

#no_list {

  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  pointer-events: none;
  margin-top: 160px;


  > .no-items-icon {
    align-items: center;
    justify-content: center;
    display: inline-flex;

    > svg {
      overflow: hidden;
      width: 56px;
      height: 56px;
      fill: none;
      overflow-clip-margin: content-box;
    }

    > ._text {
      margin-top: 16px;
      color: #222;
      line-height: 26px;
      font-weight: 600;
      font-size: 18px;


    }
  }
}


#pay {
  position: relative;
  width: 375px;
  min-height: 545px;

  > .pay-container {
    position: sticky;
    top: 110px;
    right: 0;
    width: 375px;

    > .delivery-box {
      padding: 7px;
      background-color: #fff;
      border-radius: 16px;
      margin-bottom: 16px;

      > .delivery {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        margin-bottom: 1px;

        > .delivery-icon {
          align-items: center;
          justify-content: center;
          display: inline-flex;

        }

        > ._text {
          margin: 4px;
          line-height: 26px;
          font-weight: 600;
          font-size: 18px;
        }
      }

      > .location-button {
        width: 100%;
        text-align: left;

        > ._text {
          color: #672091;
          margin-bottom: 1px;
          line-height: 18px;
          font-weight: 600;
          font-size: 13px;
        }

        > .location {
          display: flex;
          -webkit-box-pack: justify;
          justify-content: space-between;

          > div > ._text {
            word-break: break-word;
            line-height: 22px;
            font-weight: 400;
            font-size: 16px;
          }

          > .change-button {
            flex-shrink: 0;
            margin-left: 24px;
            border-width: 1px;
            border-style: solid;
            z-index: 1;
            overflow: hidden;
            transition: all .1s ease-out;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            box-sizing: border-box;
            border-radius: 6px;
            padding-right: 12px;
            padding-left: 12px;
            height: 32px;
            border-color: #dfe4db;
            $background_color: #fff;
            background-color: $background_color;
            color: #222;
            font-weight: 600;
            font-size: 14px;

            &:hover {
              background-color: darken($background_color, 5%);
            }

            &:active {
              background-color: darken($background_color, 10%);
            }

            > .change-text {
              line-height: 20px;
              font-weight: 600;
              font-size: 14px;
            }
          }
        }
      }
    }

    > .pay-box {
      padding: 7px 10px 7px 10px;
      background-color: #fff;
      border-radius: 16px;
      margin-bottom: 16px;


      > ._text {
        margin-bottom: 20px;
        line-height: 26px;
        font-weight: 600;
        font-size: 18px;
      }

      > .pay {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;

        > .text {
          line-height: 1px;
          font-weight: 400;
          font-size: 16px;
        }

        > .price {
          line-height: 1px;
          font-weight: 600;
          font-size: 16px;
        }

        > .color {
          color: #fa622f;
        }
      }

      > .total-pay {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        border-top: 1px solid #eceff3;
        padding: 16px 0 4px;

        > .text {
          line-height: 1px;
          font-weight: 400;
          font-size: 16px;
        }

        > .price {
          line-height: 1px;
          font-weight: 600;
          font-size: 16px;
        }
      }


      > .pay ~ div {
        margin-top: 1px;
      }

      > .mileage {
        text-align: right;
        line-height: 16px;
        font-weight: 400;
        font-size: 12px;
      }
    }

    > .pay-button {
      //$background_color: #e8dbf3;
      //color: #c19edf;
      z-index: 1;
      overflow: hidden;
      transition: all .1s ease-out;
      justify-content: center;

      cursor: pointer;
      border-width: 0;
      box-sizing: border-box;
      border-radius: 12px;
      height: 56px;
      font-weight: 600;
      font-size: 18px;
      width: 375px;
      padding: 24px;

      align-items: center;

      // ::after
      $background_color: #672091;
      color: #fff;
      background-color: $background_color;

      &:hover {
        background-color: darken($background_color, 5%);
      }

      &:active {
        background-color: darken($background_color, 10%);
      }

    }
  }
}

.---dialog-cover {
  > .--dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 100000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    content: "";
    background-color: rgba(0, 0, 0, .5);
    animation-name: back;
    animation-duration: .25s;

    > ._title {
      padding-top: 32px;
      padding-bottom: 0;
      width: 280px;
      max-height: 480px;
      position: relative;
      z-index: 100001;
      word-break: break-word;
      border-radius: 16px;
      background-color: #ffffff;
      animation-name: dialog;
      animation-duration: .2s;

      > ._question {
        color: #565e67;
        white-space: pre-line;
        padding-bottom: 20px;
        padding-left: 24px;
        padding-right: 24px;
        overflow-y: auto;
        max-height: 342px;
        scrollbar-width: none;
        line-height: 22px;
        font-weight: 400;
        font-size: 16px;
      }

      > ._button-container {
        flex-direction: row;
        display: flex;
        padding: 8px 16px 16px 18px;

        > .cancel {
          margin-right: 8px;
          width: 50%;
          z-index: 1;
          overflow: hidden;
          transition: all .1s ease-out;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border-width: 0;
          box-sizing: border-box;
          border-radius: 10px;
          padding-right: 16px;
          padding-left: 16px;
          height: 48px;
          background-color: #eceff3;
          color: #222;
          font-weight: 600;
          font-size: 16px;

        }

        > .confirm {
          width: 50%;
          z-index: 1;
          overflow: hidden;
          transition: all .1s ease-out;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border-width: 0;
          box-sizing: border-box;
          border-radius: 10px;
          padding-right: 16px;
          padding-left: 16px;
          height: 48px;
          background-color: #222;
          color: #fff;
          font-weight: 600;
          font-size: 16px;
        }
      }
    }

    @keyframes dialog {
      0% {
        transform: translateY(20px);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
    @keyframes back {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
